:root {
    --font-roboto: "Roboto", serif;
    --font-libre: "Libre Baskerville", serif;
    --grn: #475f45;
}


* {
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 14px;
}

.header {
    display: flex;
    justify-content: center;
    column-gap: 187px;
}

.logo__icon {
    display: flex;
    align-items: center;
    column-gap: 14px;
}

.nav__list {
    display: flex;
    column-gap: 40px;
    align-items: center;
}

.nav__item {
    list-style: none;
}

/* .nav__list:last-child {
    border: 2px;
} */
.nav__item_border {
    border: 2px solid #475F45;
    padding: 15px 30px;
}