.desc {
    margin-top: 86px;
    background-color: #343D33;
    padding: 125px 0 67px 0;
    position: relative;
}

.desc__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 75px;
    position: relative;
    z-index: 10;
}

.desc__info-block {
    max-width: 417px;
}

.desc__title {
    font-family: var(--font-libre);
    font-weight: 400;
    font-size: 45px;
    line-height: 110%;
    text-transform: capitalize;
    color: #fff;
}

.desc__text {
    margin-top: 32px;
    font-family: var(--font-roboto);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #fff;
}

.desc__btn {
    margin-top: 32px;
    background: transparent;
    color: white;
    border-color: white;
}

.desc__leaf {
    position: absolute;
    top: 362px;
    right: 0;
    z-index: 1;
}

@media(max-width: 1041px) {
    .desc__content img:last-child {
        order: 1;
    }
    .desc__info-block {
        order: 2;
    }
    .desc__leaf {
        top: 68%;
    }
    .desc__content img:first-child {
        width: 90%;
    }
}